**/__pycache__/*
Pipfile
*.tfstate
*.backup
*.swp
**/node_modules/*
**/.venv/**
**/database_data/**
**/media/**
.vscode
.DS_Store
.editorconfig
**/django_vue_rest_data/**
frontend/package-lock.json
**/package-lock.json
.env
./frontend/node_modules/
.idea
backend/celerybeat-schedule
backend/celerybeat.pid
*.pem
